<div class="row">
  <div class="six columns phone-two">
  <h1>Features:</h1>
    <ul>
    <li>secure: no login or password required. Use your API key and subdomain. </li>
    <li>select rooms to sync</li>
    <li>swipe left and right to change rooms</li>
    <li>queued uploads when your device is offline</li>
    <li>change sync settings based on network: wifi or mobile</li>
  </ul>
  </div>
   <div class="six columns phone-two">
    <h1>Permissions:</h1>
    <ul>
    <li>full network access. Obviously for campfire. There is also an anonymous crash report uploader that uploads the nature of the crash without sending any personal data </li>
    <li>network state: the app needs to determine the network state and which network type is on (wifi or mobile).</li>
  </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns phone-one">
    This is a beta release and your feedback is greatly appreciated. There is a public trello board: https://trello.com/board/plasma-the-campfire-app/502f1d84bccef6f93c41c1bb and there are two feedback mechanism in the app.
    <br>
    Feedback is a gift. Please be generous.
    <br>
    The icon is an image: "Plasma Lamp" created by Luc Viatour and can be found at: http://www.Lucnix.be and used with permission.
  </div>
</div>