/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
body {
  background-color: black;
  color: white;
}

.get_it_on_play {
  text-align: center
}

h1 {
    color: #8e165c;
}

h2 {
    color: #8e165c;
}

h3 {
    color: #8e165c;
}

h4 {
    color: #8e165c;
}