<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

 <title>Plasma: the Campfire App</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  -->

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  <script src="javascripts/modernizr.foundation.js"></script>


  <meta name="viewport" content="width=device-width" />
</head>
  <body>
  <div class="container">
    <div class="row">
      <div class="twelve columns phone-two">
        <img alt="Promoimage" src="/images/PromoImage.png" />
      </div>
    </div>


    <div class="row">

      <div class="eight columns phone-two">
        {{content}}
      </div>
      <div class="four columns phone-one">
        <!-- Place this tag where you want the badgev2 to render. -->
        <div class="g-page" data-href="//plus.google.com/111105710761138337163" data-theme="dark" data-rel="publisher"></div>

        <!-- Place this tag after the last badgev2 tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script> 
      </div>

    </div>

    <div class="row">
        <div class="twelve columns phone-two">
            <h1>About Plasma:</h1>
        </div>
    <div>
        
    <div class="row">
        <div class="six columns phone-two">
            <h2>Features:</h2>
              <ul>
              <li>secure: no login or password required. Use your API key and subdomain. </li>
              <li>select rooms to sync</li>
              <li>swipe left and right to change rooms</li>
              <li>queued uploads when your device is offline</li>
              <li>change sync settings based on network: wifi or mobile</li>
            </ul>
        </div>
        <div class="six columns phone-two">
            <h2>Permissions:</h2>
            <ul>
                <li>full network access. Obviously for campfire. There is also an anonymous crash report uploader that uploads the nature of the crash without sending any personal data </li>
            <li>network state: the app needs to determine the network state and which network type is on (wifi or mobile).</li>
            </ul>
        </div>
  </div>

  <div class="row">
    <div class="twelve columns phone-one">
      This is a beta release and your feedback is greatly appreciated. There is a public trello board: https://trello.com/board/plasma-the-campfire-app/502f1d84bccef6f93c41c1bb and there are two feedback mechanism in the app.
      <br>
      Feedback is a gift. Please be generous.
      <br>
      The icon is an image: "Plasma Lamp" created by Luc Viatour and can be found at: http://www.Lucnix.be and used with permission.
    </div>
  </div>
    <br><br>

    <div class="row">
      <div class="twelve columns">
        <a href="http://play.google.com/store/apps/details?id=com.brulak.android.plasma" class="center">
            <img alt="Get it on Google Play" src="http://www.android.com/images/brand/get_it_on_play_logo_small.png" />
            
        </a>
        <a href="https://plus.google.com/111105710761138337163" rel="publisher">Google+</a>
      </div>
    </div>

  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34529015-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>